/*
Header
*/
/* #region header */
.header {
  padding: var(--p-4) 0;
}

.header > .container > .row {
  align-items: center;
}

.header__logo {

}

.header__navigation {
  
}

/*
Navigation
*/
.navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;

  font-weight: 400;
  font-size: 1.32rem;
}

.navigation__list-item > a {
  display: block;
  padding: var(--p-2) var(--p-4);
  color: var(--color-green-800);
  text-decoration: none;
}

.navigation__list-item:last-of-type > a {
  background-color: var(--color-orange);
  color: var(--color-white-100);
}
/* #endregion */

/*
Header before
*/
/* #region header-before */
.header-before {
  padding: var(--p-4) 0;
}
/* #endregion */

/*
USP's
*/

.usps {
  font-weight: 200;
}

.usps__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.usps__list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-right: var(--p-6);
}

.usps__list-item:last-of-type {
  margin-right: 0;
}

.usps__list-item > .icon-check {
  margin-right: var(--p);
}

/*
Contact
*/
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;

  font-weight: 200;
}

.contact a {
  text-decoration: none;
  color: var(--color-green-800);
}

.contact a:hover {
  color: var(--color-green);
}

.contact__tel,
.contact__email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-right: var(--p-4);
}

.contact__tel {
  margin-right: 0;
}

.contact__email > .icon-envelope,
.contact__tel > .icon-tel {
  margin-right: var(--p);
}