.usps {

}

.usps__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.usps__list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-right: var(--p-4);
}

.usps__list-item > .icon-check {
  margin-right: var(--p);
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.contact__tel,
.contact__email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-right: var(--p-4);
}